ctb/sys/toolbox-hub/backend/google_sheets/n8n_workflow_pull_enriched_data.json
{
  "name": "Pull Enriched Data from Sheets to Neon",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pull-enriched-to-neon",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "pull-enriched-to-neon",
      "id": "webhook-pull-enriched-001"
    },
    {
      "parameters": {
        "functionCode": "// Extract enriched data from webhook payload\nconst payload = $input.item.json.body;\nconst rows = [];\n\nfor (const record of payload.enriched_records || []) {\n  // Only process records marked as 'enriched'\n  if (record.enrichment_status !== 'enriched') {\n    continue;\n  }\n\n  const entity_type = record.entity_type || payload.entity_type || 'company';\n  const batch_id = payload.batch_id || `SHEETS-ENRICH-${Date.now()}`;\n\n  // Escape single quotes for SQL\n  const escape = (str) => (str || '').replace(/'/g, \"''\");\n\n  if (entity_type === 'company') {\n    const sql = `\n      INSERT INTO intake.company_raw_intake (\n        company_unique_id, company, industry, employee_count,\n        linkedin_url, website, state, validated, validated_at,\n        validated_by, validation_notes, source, import_batch_id, created_at\n      )\n      VALUES (\n        '${escape(record.company_id)}',\n        '${escape(record.company_name)}',\n        '${escape(record.industry)}',\n        ${record.employee_count || 'NULL'},\n        '${escape(record.linkedin_url)}',\n        '${escape(record.website)}',\n        '${escape(record.state || 'N/A')}',\n        TRUE,\n        NOW(),\n        '${escape(record.enriched_by || 'google-sheets-agent')}',\n        '${escape(record.enrichment_notes || 'Enriched via Google Sheets')}',\n        'google-sheets-enrichment',\n        '${escape(batch_id)}',\n        NOW()\n      )\n      ON CONFLICT (company_unique_id) DO UPDATE\n      SET\n        company = EXCLUDED.company,\n        industry = EXCLUDED.industry,\n        employee_count = EXCLUDED.employee_count,\n        linkedin_url = EXCLUDED.linkedin_url,\n        validated = TRUE,\n        validated_at = NOW(),\n        validated_by = EXCLUDED.validated_by,\n        validation_notes = EXCLUDED.validation_notes,\n        updated_at = NOW()\n      RETURNING id, company;\n    `;\n\n    rows.push({\n      json: {\n        sql_query: sql,\n        entity_id: record.company_id,\n        entity_name: record.company_name,\n        entity_type: 'company',\n        batch_id: batch_id\n      }\n    });\n  } else if (entity_type === 'person') {\n    const sql = `\n      INSERT INTO intake.people_raw_intake (\n        person_unique_id, full_name, email, title, linkedin_url,\n        company_unique_id, validated, validated_at, validated_by,\n        validation_notes, source, import_batch_id, created_at\n      )\n      VALUES (\n        '${escape(record.person_id)}',\n        '${escape(record.full_name)}',\n        '${escape(record.email)}',\n        '${escape(record.title)}',\n        '${escape(record.linkedin_url)}',\n        '${escape(record.company_id)}',\n        TRUE,\n        NOW(),\n        '${escape(record.enriched_by || 'google-sheets-agent')}',\n        '${escape(record.enrichment_notes || 'Enriched via Google Sheets')}',\n        'google-sheets-enrichment',\n        '${escape(batch_id)}',\n        NOW()\n      )\n      ON CONFLICT (person_unique_id) DO UPDATE\n      SET\n        full_name = EXCLUDED.full_name,\n        email = EXCLUDED.email,\n        title = EXCLUDED.title,\n        linkedin_url = EXCLUDED.linkedin_url,\n        validated = TRUE,\n        validated_at = NOW(),\n        validated_by = EXCLUDED.validated_by,\n        validation_notes = EXCLUDED.validation_notes,\n        updated_at = NOW()\n      RETURNING id, full_name;\n    `;\n\n    rows.push({\n      json: {\n        sql_query: sql,\n        entity_id: record.person_id,\n        entity_name: record.full_name,\n        entity_type: 'person',\n        batch_id: batch_id\n      }\n    });\n  }\n}\n\nreturn rows;"
      },
      "name": "Format for Raw Intake",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "format-raw-intake-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.sql_query}}",
        "options": {}
      },
      "name": "Insert into Raw Intake",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "Wz8rIrnyPacyWIG1",
          "name": "Neon Marketing DB"
        }
      },
      "id": "insert-raw-intake-001"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$input.all()[0].json.body.auto_promote}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Auto-Promote",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "check-auto-promote-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT shq.promote_company_records('{{$json.batch_id}}', 'google-sheets-enrichment') as promoted_count;",
        "options": {}
      },
      "name": "Promote to Master",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1050, 200],
      "credentials": {
        "postgres": {
          "id": "Wz8rIrnyPacyWIG1",
          "name": "Neon Marketing DB"
        }
      },
      "id": "promote-master-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Pushed \" + $json.entity_name + \" to raw intake and promoted to master\", \"entity_id\": $json.entity_id, \"entity_type\": $json.entity_type, \"batch_id\": $json.batch_id, \"promoted\": true, \"timestamp\": \"\" + new Date().toISOString() + \"\"}",
        "options": {}
      },
      "name": "Respond with Promotion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200],
      "id": "respond-promoted-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Pushed \" + $json.entity_name + \" to raw intake (not promoted)\", \"entity_id\": $json.entity_id, \"entity_type\": $json.entity_type, \"batch_id\": $json.batch_id, \"promoted\": false, \"timestamp\": \"\" + new Date().toISOString() + \"\"}",
        "options": {}
      },
      "name": "Respond without Promotion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "respond-no-promote-001"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format for Raw Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Raw Intake": {
      "main": [
        [
          {
            "node": "Insert into Raw Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Raw Intake": {
      "main": [
        [
          {
            "node": "Check Auto-Promote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auto-Promote": {
      "main": [
        [
          {
            "node": "Promote to Master",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond without Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promote to Master": {
      "main": [
        [
          {
            "node": "Respond with Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
