ctb/sys/toolbox-hub/backend/google_sheets/n8n_workflow_company_failures_postgres.json
{
  "name": "Push Company Failures to PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "push-company-failures-postgres",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "push-company-failures-postgres",
      "id": "webhook-company-postgres-001"
    },
    {
      "parameters": {
        "functionCode": "// Extract data from webhook payload and format for PostgreSQL\nconst payload = $input.item.json.body;\nconst rows = [];\n\nfor (const row of payload.data_rows || []) {\n  const company_id = (row.company_id || '').replace(/'/g, \"''\");\n  const company_name = (row.company_name || '').replace(/'/g, \"''\");\n  const fail_reason = (row.fail_reason || '').replace(/'/g, \"''\");\n  const state = (row.state || payload.state || '').replace(/'/g, \"''\");\n  const validation_timestamp = row.validation_timestamp || new Date().toISOString();\n  const pipeline_id = (payload.pipeline_id || '').replace(/'/g, \"''\");\n  \n  rows.push({\n    json: {\n      sql_query: `INSERT INTO marketing.validation_failures_log (company_id, company_name, fail_reason, state, validation_timestamp, pipeline_id, failure_type, created_at) VALUES ('${company_id}', '${company_name}', '${fail_reason}', '${state}', '${validation_timestamp}', '${pipeline_id}', 'company', NOW()) ON CONFLICT (company_id, pipeline_id) DO UPDATE SET fail_reason = EXCLUDED.fail_reason, validation_timestamp = EXCLUDED.validation_timestamp, updated_at = NOW();`,\n      company_id: company_id,\n      company_name: company_name,\n      pipeline_id: pipeline_id\n    }\n  });\n}\n\nreturn rows;"
      },
      "name": "Format for PostgreSQL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "format-postgres-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.sql_query}}",
        "options": {}
      },
      "name": "Insert into PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "Wz8rIrnyPacyWIG1",
          "name": "Neon Marketing DB"
        }
      },
      "id": "insert-postgres-001"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Inserted \" + $json.company_name + \" into validation_failures_log\", \"company_id\": $json.company_id, \"pipeline_id\": $json.pipeline_id, \"timestamp\": \"\" + new Date().toISOString() + \"\"}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "respond-postgres-001"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format for PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for PostgreSQL": {
      "main": [
        [
          {
            "node": "Insert into PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into PostgreSQL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
