ctb/sys/enrichment-agents/n8n-workflows/scheduled-enrichment.json
{
  "name": "Scheduled Enrichment - Companies & People",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger-1"
    },
    {
      "parameters": {
        "url": "http://localhost:8001/invalid/count",
        "options": {}
      },
      "name": "Check Invalid Count",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "id": "http-check-count"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.total}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Invalid Records?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "id": "if-has-records"
    },
    {
      "parameters": {
        "url": "http://localhost:8001/enrich/company",
        "method": "POST",
        "options": {}
      },
      "name": "Enrich Companies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200],
      "id": "http-enrich-companies"
    },
    {
      "parameters": {
        "url": "http://localhost:8001/enrich/people",
        "method": "POST",
        "options": {}
      },
      "name": "Enrich People",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400],
      "id": "http-enrich-people"
    },
    {
      "parameters": {
        "message": "=✅ Enrichment Complete\n\nCompanies:\n- Processed: {{$node[\"Enrich Companies\"].json.stats.processed}}\n- Enriched: {{$node[\"Enrich Companies\"].json.stats.enriched}}\n- Promoted: {{$node[\"Enrich Companies\"].json.stats.promoted}}\n- Cost: ${{$node[\"Enrich Companies\"].json.stats.cost}}\n\nPeople:\n- Processed: {{$node[\"Enrich People\"].json.stats.processed}}\n- Enriched: {{$node[\"Enrich People\"].json.stats.enriched}}\n- Promoted: {{$node[\"Enrich People\"].json.stats.promoted}}\n- Cost: ${{$node[\"Enrich People\"].json.stats.cost}}"
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "email-notification"
    },
    {
      "parameters": {
        "message": "=⏭️ No invalid records to enrich"
      },
      "name": "No Records Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 500],
      "id": "noop-no-records"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Invalid Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Invalid Count": {
      "main": [
        [
          {
            "node": "Has Invalid Records?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Invalid Records?": {
      "main": [
        [
          {
            "node": "Enrich Companies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich People",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Records Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Companies": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich People": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T00:00:00.000Z",
  "versionId": "1"
}
