ctb/sys/enrichment-agents/n8n-workflows/webhook-enrichment.json
{
  "name": "Webhook Triggered Enrichment",
  "nodes": [
    {
      "parameters": {
        "path": "enrichment-trigger",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "enrichment-webhook-001",
      "id": "webhook-trigger-1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "table",
              "value": "={{$json.body.table || 'company_invalid'}}"
            },
            {
              "name": "limit",
              "value": "={{$json.body.limit || 10}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "set-extract-params"
    },
    {
      "parameters": {
        "url": "=http://localhost:8001/enrich",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "table",
              "value": "={{$json.table}}"
            },
            {
              "name": "limit",
              "value": "={{$json.limit}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "id": "http-trigger-enrichment"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300],
      "id": "if-check-success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200],
      "id": "respond-success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={\"error\": \"Enrichment failed\", \"details\": {{$json}}}"
      },
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "respond-error"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Trigger Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Enrichment": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-19T00:00:00.000Z",
  "versionId": "1"
}
