ctb/ops/workflows/02-promotion-runner.json
{
  "name": "Promotion Runner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 6}]
        }
      },
      "name": "Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT import_batch_id FROM intake.company_raw_intake WHERE validated = TRUE AND import_batch_id IS NOT NULL",
        "options": {}
      },
      "name": "Get Validated Batches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "{{NEON_CREDENTIAL_ID}}",
          "name": "Neon Marketing DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT shq.promote_company_records('{{$json[\"import_batch_id\"]}}', 'n8n-promotion-runner') as promoted_count",
        "options": {}
      },
      "name": "Promote Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "{{NEON_CREDENTIAL_ID}}",
          "name": "Neon Marketing DB"
        }
      }
    }
  ],
  "connections": {
    "Every 6 hours": {
      "main": [[{"node": "Get Validated Batches", "type": "main", "index": 0}]]
    },
    "Get Validated Batches": {
      "main": [[{"node": "Promote Records", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-bootstrap"
  },
  "id": "promotion-runner",
  "tags": []
}
