ctb/ops/workflows/03-slot-creator.json
{
  "name": "Slot Creator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 1}]
        }
      },
      "name": "Every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cm.company_unique_id, cm.company_name FROM marketing.company_master cm LEFT JOIN marketing.company_slots cs ON cm.company_unique_id = cs.company_unique_id WHERE cs.company_slot_unique_id IS NULL LIMIT 50",
        "options": {}
      },
      "name": "Get Companies Without Slots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "{{NEON_CREDENTIAL_ID}}",
          "name": "Neon Marketing DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO marketing.company_slots (company_slot_unique_id, company_unique_id, slot_type, slot_label) VALUES ('04.04.05.' || LPAD((EXTRACT(EPOCH FROM NOW())::BIGINT % 100)::TEXT, 2, '0') || '.' || LPAD((RANDOM() * 100000)::INT::TEXT, 5, '0') || '.' || '999', '{{$json[\"company_unique_id\"]}}', 'default', 'Primary Slot')",
        "options": {}
      },
      "name": "Create Slot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "{{NEON_CREDENTIAL_ID}}",
          "name": "Neon Marketing DB"
        }
      }
    }
  ],
  "connections": {
    "Every hour": {
      "main": [[{"node": "Get Companies Without Slots", "type": "main", "index": 0}]]
    },
    "Get Companies Without Slots": {
      "main": [[{"node": "Create Slot", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "n8n-bootstrap"
  },
  "id": "slot-creator",
  "tags": []
}
