ctb/ops/workflows/WF_Create_Slots.json
{
  "name": "WF_Create_Slots",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "create-slots", "responseMode": "responseNode", "options": {}},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-slots"
    },
    {
      "parameters": {
        "functionCode": "const eventData = $input.first().json;\nreturn {\n  json: {\n    workflow_name: 'Create_Slots',\n    status: 'ok',\n    triggered_by: 'neon_event',\n    record_id: eventData.payload?.id || eventData.id,\n    event_type: eventData.event_type,\n    company_unique_id: eventData.payload?.company_unique_id || ''\n  }\n};"
      },
      "name": "Process Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- TODO: Slot creation logic\n-- Create 3 executive slots (CEO, CFO, HR Director)\nWITH company_info AS (\n  SELECT company_unique_id\n  FROM marketing.company_master\n  WHERE id = {{ $json.record_id }}\n),\nslot_roles AS (\n  SELECT * FROM (\n    VALUES \n      (1, 'CEO'),\n      (2, 'CFO'),\n      (3, 'HR Director')\n  ) AS roles(position, title)\n)\nINSERT INTO marketing.company_slots(\n  company_slot_unique_id,\n  company_unique_id,\n  slot_type,\n  slot_label,\n  created_at\n)\nSELECT\n  REPLACE(c.company_unique_id, '.01.', '.0' || r.position || '.') as company_slot_unique_id,\n  c.company_unique_id,\n  'executive' as slot_type,\n  r.title as slot_label,\n  NOW() as created_at\nFROM company_info c\nCROSS JOIN slot_roles r\nON CONFLICT (company_slot_unique_id) DO NOTHING\nRETURNING *;",
        "options": {}
      },
      "name": "Create Slots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {"postgres": {"id": "1", "name": "Neon Marketing DB"}}
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_API_URL }}/webhook/log-to-neon",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "workflowName", "value": "Create_Slots"},
            {"name": "status", "value": "ok"},
            {"name": "triggerSource", "value": "neon_event"},
            {"name": "recordId", "value": "={{ $json.record_id }}"}
          ]
        }
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Process Event"}]]},
    "Process Event": {"main": [[{"node": "Create Slots"}]]},
    "Create Slots": {"main": [[{"node": "Log Success"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
