workflows/06-send-messages-instantly.json
{
  "name": "06 - Send Messages via Instantly",
  "nodes": [
    {
      "parameters": {},
      "name": "Schedule Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  pm.unique_id,\n  pm.full_name,\n  pm.email,\n  pm.first_name,\n  pm.last_name,\n  cm.company_name,\n  cs.slot_type,\n  mkr.message_key,\n  mkr.subject_line,\n  mkr.preview_text,\n  mkr.vibeos_template_id,\n  mkr.send_delay_hours\nFROM marketing.people_master pm\nJOIN marketing.company_master cm ON pm.company_unique_id = cm.company_unique_id\nJOIN marketing.company_slots cs ON pm.company_slot_unique_id = cs.company_slot_unique_id\nJOIN marketing.message_key_reference mkr ON pm.message_key_scheduled = mkr.message_key\nWHERE mkr.message_channel IN ('email', 'both')\n  AND mkr.active = TRUE\n  AND pm.email IS NOT NULL\n  AND pm.email_verified = TRUE\nLIMIT 50;"
      },
      "name": "Get Contacts Ready for Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "get-contacts",
      "credentials": {
        "postgres": {
          "id": "neon-marketing-db",
          "name": "Neon Marketing DB"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v1/lead/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eaf2c37e-ade9-4cd1-9f91-edec66dfc83b:gpeymGNltHfI"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "variables",
              "value": {
                "role": "={{ $json.slot_type }}",
                "message_key": "={{ $json.message_key }}",
                "neon_id": "={{ $json.unique_id }}"
              }
            },
            {
              "name": "campaign_id",
              "value": "WV_OUTREACH_2025"
            }
          ]
        }
      },
      "name": "Send to Instantly",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "id": "send-instantly"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE marketing.people_master\nSET message_key_scheduled = NULL,\n    updated_at = NOW()\nWHERE unique_id = '{{ $json.unique_id }}';\n\nINSERT INTO marketing.pipeline_events (event_type, payload, status)\nVALUES ('message_sent', \n  '{\"contact_id\": \"{{ $json.unique_id }}\", \"message_key\": \"{{ $json.message_key }}\", \"channel\": \"instantly\"}',\n  'success');"
      },
      "name": "Update Message Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "update-status",
      "credentials": {
        "postgres": {
          "id": "neon-marketing-db",
          "name": "Neon Marketing DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bit.bit_signal (company_unique_id, contact_unique_id, signal_type, signal_strength, source)\nSELECT \n  company_unique_id,\n  unique_id,\n  'email_sent',\n  2,\n  'instantly'\nFROM marketing.people_master\nWHERE unique_id = '{{ $json.unique_id }}';"
      },
      "name": "Track BIT Signal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "track-signal",
      "credentials": {
        "postgres": {
          "id": "neon-marketing-db",
          "name": "Neon Marketing DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Every 15 Minutes": {
      "main": [[{"node": "Get Contacts Ready for Email", "type": "main", "index": 0}]]
    },
    "Get Contacts Ready for Email": {
      "main": [[{"node": "Send to Instantly", "type": "main", "index": 0}]]
    },
    "Send to Instantly": {
      "main": [[{"node": "Update Message Status", "type": "main", "index": 0}]]
    },
    "Update Message Status": {
      "main": [[{"node": "Track BIT Signal", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "barton-outreach-core"
  },
  "tags": [
    {"name": "messaging"},
    {"name": "instantly"},
    {"name": "email"}
  ]
}

