workflows/WF_LogToNeon.json
{
  "name": "WF_LogToNeon",
  "nodes": [
    {"parameters": {"httpMethod": "POST", "path": "log-to-neon"}, "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300]},
    {"parameters": {"functionCode": "const data = $input.first().json;\nreturn {\n  json: {\n    workflow_name: data.workflowName || 'Unknown',\n    status: data.status || 'unknown',\n    duration_seconds: data.duration || 0,\n    error_message: data.error || null,\n    triggered_by: data.triggerSource || 'manual',\n    batch_id: data.batchId || null\n  }\n};"}, "name": "Process Log Data", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [450, 300]},
    {"parameters": {"operation": "executeQuery", "query": "-- Ensure workflow_stats table exists\nCREATE TABLE IF NOT EXISTS marketing.workflow_stats(\n  id SERIAL PRIMARY KEY,\n  workflow_name TEXT,\n  status TEXT,\n  duration_seconds NUMERIC,\n  error_message TEXT,\n  triggered_by TEXT,\n  batch_id TEXT,\n  created_at TIMESTAMP DEFAULT NOW()\n);\n\n-- Insert log entry\nINSERT INTO marketing.workflow_stats(\n  workflow_name,\n  status,\n  duration_seconds,\n  error_message,\n  triggered_by,\n  batch_id\n)\nVALUES (\n  '{{ $json.workflow_name }}',\n  '{{ $json.status }}',\n  {{ $json.duration_seconds }},\n  {{ $json.error_message ? \"'\" + $json.error_message + \"'\" : \"NULL\" }},\n  '{{ $json.triggered_by }}',\n  {{ $json.batch_id ? \"'\" + $json.batch_id + \"'\" : \"NULL\" }}\n)\nRETURNING *;"}, "name": "Log to Neon", "type": "n8n-nodes-base.postgres", "typeVersion": 2, "position": [650, 300], "credentials": {"postgres": {"id": "1", "name": "Neon Marketing DB"}}}
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Process Log Data"}]]},
    "Process Log Data": {"main": [[{"node": "Log to Neon"}]]}
  }
}
